.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow-y: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.modal {
    width: calc(100% - 32px);
    max-width: 288px;
    min-height: 623px;
    max-height: calc(100vh - 16px);
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 72px 16px 24px 16px;
    overflow-y: auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open .modal {
    transform: translate(-50%, -50%);
}
.modal-btn {
    display: flex;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    padding: 0;
    color: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-btn:hover, .modal-btn:focus {
    border-color: transparent;
    background-color: #404bbf;
    color: #ffffff;
}
.modal-item-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
    width: 100%;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    
}
.modal-form {
    width: 100%;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-field-check {
    margin-bottom: 24px;
}
.modal-input {
    width: 100%;
    min-width: 0;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-icons {
    fill: #4D5AE5;
}
.modal-input-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-height: 56px;
    min-width: 169px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFF;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    
}
.modal-icons {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap {
    position: relative;
}
.modal-textarea {
    width: 100%;
    min-width: 0;
    min-height: 120px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    margin-bottom: 16px;
}
.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.check-text {
    color: #8E8F99;
    font-size: 12px;
    letter-spacing: 0.04em;
    align-self: center;
    line-height: 1.17;
}
.check-link {
    text-decoration-line: underline;
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

}
.modal-input-btn:hover,
.modal-input-btn:focus {
    background-color: #404bbf;
}
.check-text-box {
    width: 16px;
    height: 16px;
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text-icon {
    fill: #f4f4fd;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text .check-text-box {
    background-color: #404bbf;
    border: none;
}
.modal-check:checked + .check-text .check-text-icon {
    opacity: 1;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

@media screen and (min-width: 768px){
    .modal {
        max-width: 408px;
        padding: 72px 24px 24px 24px;
    }
}